# Loki - Configuration
loki:
  persistence:
    size: 100Gi
    storageClassName: gp3
  
  config:
    limits_config:
      reject_old_samples_max_age: 336h  # 14 jours
      ingestion_rate_mb: 32
      ingestion_burst_size_mb: 64
