# Redis - Configuration
master:
  persistence:
    size: 10Gi
    storageClass: gp3
    
  configuration: |
    maxmemory 512mb
    maxmemory-policy allkeys-lru
    appendonly yes
    appendfsync everysec
